.Cart {
    font-size: larger;
    color: #251749;
    padding: 2%;
    border-radius: 10px;
    background-color: #F1F1F1;
    margin: 0 5%;
    text-align: center;
}

.CartTitle {
    text-align: center;
    color: #251749;
    padding: 3%;
}

.CartContainer {
    text-align: justify;
    color: #251749;
}

.CartImg {
    width: 2.5em;
    border-radius: 15%;
}

.CartPrice {
    text-align: right;
    list-style: none;
}

.CartAddDelete {
    text-align: center;
}

.CartBtn {
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
}

.CartNoProducts {
    color: #251749;
    padding: 5%;
}