.Cart {
    font-size: larger;
    color: #008184;
    padding: 2%;
    border-radius: 10px;
    background-color: lightgray;
    margin: 0 5%;
    text-align: center;
}

.CartTitle {
    text-align: center;
    color: #008184;
    padding: 3%;
}

.CartContainer {
    text-align: justify;
    color: #008184;
}

.CartPrice {
    text-align: right;
    list-style: none;
}

.CartAddDelete {
    text-align: center;
}

.CartBtn {
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
}

.CartNoProducts {
    color: #008184;
    padding: 5%;
}