.NavBar {
    font-size: large;
    background-image: linear-gradient(to bottom, #008184, #00ABB3);
    width: 100%;
}

.NavBarBrand {
    display: flex;
    align-items: center;
}

.NavBarBrand :hover {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
}

.NavBarTitle {
    font-size: medium;
    font-family: 'Press Start 2P';
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    text-align: center;
}

.Logo {
    font-size: 4.5rem;
    text-decoration: none;
}

.NavBarEnd {
    justify-content: end;
    font-size: medium;
}

.NavBarEnd :hover {
    color: white;
    text-decoration: none;
}

.Option {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    display: flex;
    align-self: center;
}

.Option :hover {
    color: white;
}

.ActiveOption {
    color: white;
    text-decoration: none;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}

.ActiveOption :hover {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
}

.NavCategory {
    padding: 0;
}

.Logout {
    display: flex;
    justify-content: space-between;
}